@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;    
    background: linear-gradient(50deg, #433F43 45%, #8AC9FE 130% );
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    gap: 290px;
}

.logo {
   height: 60px;
   filter: drop-shadow(0.2rem 0.2rem 1.5rem  black);
   cursor:pointer
}


nav {
    display: flex;
    flex-direction: row;
    gap: 30px
}

nav a {
    font-family: 'sarala', sans-serif;
    color: #FFF2E7;
    font-size: 15px;
    font-weight: normal;
}



.principal{
    display: flex;
    justify-content: space-around;
    border-top: 0.6px solid rgba(255, 255, 255, 0.179);
    align-items: center;
    align-content: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1{
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-size: 35px;
    text-shadow: 0.1em 0.2em 0.8em  black ;
}

h2{
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 17px;
}

button{
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-size: 18px;
    background-color: #ECD6C4;
    border: none;
    width:130px ;
    height:45px;
    border-radius: 15px;
    box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.logo-robot{
    width: 370px;
    padding-top: 50px
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 25px;
    padding-bottom: 50px;
}

h3{
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    border-top: 0.6px solid rgba(255, 255, 255, 0.179);
    padding-top: 60px;
}


.sobre div{
    font-family: 'Sarala', sans-serif; 
    color: #ECD6C4;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

footer{
    text-align: center;
    padding:  35px 50px 14px 50px;
    border-top: 0.6px solid rgba(255, 255, 255, 0.179);
} 

.jarvis-footer{
    height: 70px;
    
}

.logo-robot {
   filter: drop-shadow(1rem 1rem 3rem black);
  }